.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 20px;
}
.greeting{
    font-size: 50px;
    margin-bottom: 10px;

}
.name{
    font-size: 40px;
    margin-bottom: 10px;
}
.web{
    font-size: 30px;
    margin-bottom: 0;
}